services:
  postgres:
    image: postgres:14
    container_name: ${POSTGRES_CONTAINER}
    restart: on-failure
    env_file:
      - .env
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      # persist database
      - postgres_data:/var/lib/postgresql/data
      # mount local project for easy script access
      - ./:/sql-data-warehouse-project/
      # init scripts and schema setup
      - ./scripts/init-db.sh:/docker-entrypoint-initdb.d/init-db.sh
      - ./scripts:/docker-entrypoint-initdb.d/scripts/

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: on-failure
    env_file:
      - .env
    ports:
      - "${PGADMIN_PORT}:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      - postgres

volumes:
  postgres_data:
  pgadmin_data:
